

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Form {{(user.id > 0)? 'Update': 'Create'}} User</h5>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
            <div>
                <input placeholder="Name" name="name" [(ngModel)]="user.name" class="form-control my-2" required #name="ngModel"/>
                @if (name.invalid && (name.dirty || name.touched)) {
                    @if (name.errors!['required']) {
                        <div class="text-danger">
                            Nombre es requerido
                        </div>
                    }
                }
            </div>
            <div>
                <input placeholder="Lastname" name="lastname" [(ngModel)]="user.lastname" class="form-control my-2" required #lastname="ngModel"/>
                @if (lastname.invalid && (lastname.dirty || lastname.touched)) {
                    @if (lastname.errors!['required']) {
                        <div class="text-danger">
                            Apellido es requerido
                        </div>
                    }
                }
            </div>
            <div>
                <input placeholder="Email" name="email" [(ngModel)]="user.email" class="form-control my-2" required email #email="ngModel"/>
                @if (email.invalid && (email.dirty || email.touched)) {
                    @if (email.errors!['required']) {
                        <div class="text-danger">
                            Email es requerido
                        </div>
                    }
                    @if (email.errors!['email']) {
                        <div class="text-danger">
                            Email no tiene formato correcto!
                        </div>
                    }
                }
            </div>
            <div>
                <input placeholder="Username" name="username" [(ngModel)]="user.username" class="form-control my-2" required minlength="8" #username="ngModel"/>
                @if (username.invalid && (username.dirty || username.touched)) {
                    @if (username.errors!['required']) {
                        <div class="text-danger">
                            El usuario es requerido
                        </div>
                    }
                    @if (username.errors!['minlength']) {
                        <div class="text-danger">
                            Username debe tener al menos 8 caracteres
                        </div>
                    }
                }
            </div>
            <div>
                <input placeholder="Password" name="password" type="password" [(ngModel)]="user.password" class="form-control my-2" required minlength="6" #password="ngModel"/>
                @if (password.invalid && (password.dirty || password.touched)) {
                    @if (password.errors!['required']) {
                        <div class="text-danger">
                            La contraseña es requerido
                        </div>
                    }
                    @if (username.errors!['minlength']) {
                        <div class="text-danger">
                            Password debe tener al menos 6 caracteres
                        </div>
                    }
                }
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary my-2 me-2" [disabled]="userForm.invalid">{{(user.id > 0)? 'Update': 'Create'}} user</button>
        <button type="button" class="btn btn-secondary my-2 ml-2" (click)="onClear(userForm)">Clear</button>
    </div>
</div>

